
.bg-image {
    background-image: url(img/bigSurBG.jpg);
    background-color: rgba(73,60,42,0.3);
    background-repeat: repeat-y;
    background-size: cover;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 50%;
    opacity: 1 !important; 
}

.logo-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-height: 150px;
    opacity: 1 !important;
}
